html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-image: url("/static/staticimages/bg4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
}

h1 {
    color: blue;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

/*** Top navbar ***/
.topnav {
    background-color: #4e7c90;
    width: 100%;
    height: 54px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 999;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.logout {
    margin-left: auto;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #dddddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04aa6d;
    color: white;
}

.menu-toggle {
    display: none;
}

/*** Left menu ***/
.menu {
    position: fixed;
    background-color: #d5d5d5;
    top: 54px; /* Offset by the height of the topnav */
    left: 0;
    width: fit-content;
    height: calc(100vh - 54px); /* Ensure the menu takes up full height */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 9999;
    overflow-y: auto;
}

.menu_list {
    list-style-type: none;
    margin-left: 20px;
}

.menu_list li {
    padding: 16px 0px;
}

.search {
    width: 70%;
    min-width: 80px;
    padding: 6px;
    border: none;
    font-size: 16px;
    background-color: #a7a7a7;
    border-radius: 4px;
    margin-top: 18px;
}

.searchimg {
    display: flex;
    border: none;
    background-color: transparent;
    -webkit-transform: scale(0.3, 0.3);
    width: 10px;
    height: 10px;
    display: inline;
    padding: 22px 0px;
}

.searchform {
    margin: 70px 50px;
    flex-direction: row;
    display: flex;
}

/*** Tasks and modal ***/
.content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-top: 54px;
}

.tasks_list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
    max-height: calc(100vh - 54px);
}

.tasks_list::-webkit-scrollbar {
    display: none;
}

.display_tasks {
    flex-grow: 2;
    min-width: 400px;
    padding: 0px 0%;
    z-index: 4;
}

.tasks_list li {
    list-style-type: none;
    padding: 18px 40px;
    background: #eeeeee;
    font-size: 16px;
    border-bottom: 2px solid grey;
    min-width: 200px;
}

/* Darker background-color on hover */
.tasks_list li:hover {
    background: #dddddd;
}

#loadmore {
    width: 100%;
    height: 36px;
    background-color: grey;
    border: none;
}

.change_starred_state {
    float: right;
    margin-right: 4%;
    width: 24px;
}

.star {
    margin-top: -4px;
    margin-right: 20px;
}

.delete {
    float: right;
    -webkit-transform: scale(0.74, 0.74);
    margin-right: -24px;
    margin-top: 50px;
}

/*** Modal Styling ***/
.modal {
    background-color: #d5d5d5;
    max-width: 562px;
    z-index: 9999;
    position: fixed;
    top: 0;
    right: 0 !important;
    left: auto;
    width: 33%;
    max-height: 100%;


}

.modal-content {
    background-color: #d5d5d5;
    border: none;
    padding: 2% 10%;
}

.change_task {
    display: inline-block;
}

.hiddeninfo {
    display: none;
}

.savebutton {
    border-radius: 4px;
    border: none;
    width: 60px;
    height: 26px;
    background-color: #02B865;
    color: white;
    padding: 1px 2px;
    float: right;
}

.closemodal {
    border-radius: 4px;
    border: none;
    width: 60px;
    height: 26px;
    background-color: #FF0734;
    color: white;
    padding: 1px 2px;
    float: left;
}

#create_task {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: 10px 40px;
    background-color: #d5d5d5;
    height: fit-content !important;
    max-height: 80%;
    border: 1px solid grey;
    z-index: 999999;
}

#close_create_task_window {
    margin: -10vh 0px;
    height: 120vh;
    width: 200vh;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(5px);
}

#create_task button {
    border: none;
    outline: none;
    margin: 10px 0px;
    border-radius: 4px;
}

#addsign {
    color: #00A72B;
}

/* Hide the menu on small screens */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: fixed;
        top: 54px;
        left: 0;
        width: fit-content;
        height: calc(100vh - 54px);
    }

    .content {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .modal {
        width: 75%;
    }
}

/* Show the menu when it's toggled */
.menu.show {
    display: flex;
}